<h2>Movie Details</h2>
<div>
  <h3>{{title}}</h3>
  <h4>{{genre}}</h4>
  <h4>{{plot}}</h4>
  <p>Cast</p>
  <ul>
    {{#each cast}}
      <li>
        {{name}}
        <br />
        {{occupation}}
        <br />
        {{catchPhrase}}
      </li>
    {{/each}}
  </ul>
  <div>
    <a href="movies/{{this.id}}">See details</a>
    <a href="movies/{{this.id}}/edit">Edit</a>
    <form action="movies/{{this.id}}/delete" method="post">
      <button type="submit">Delete</button>
    </form>
  </div>
</div>